.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.layout{
    width: 100%;
    margin: 0 auto;
}

.layout1{
    width: 80%;
    margin: 0 auto;
}


.fixed{
    position: fixed;
    width: 100%;
    background: rgb(131, 58, 180);
    z-index: 10;
}

